{% load static %}
<!doctype html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>اطلاعات حساب کاربری</title>

    <link href="{% static 'index_app' %}/css/fonts.css" rel="stylesheet"/>
    <link href="{% static 'index_app' %}/css/dependencies/swiper.min.css" rel="stylesheet"/>
    <link href="{% static 'index_app' %}/css/app.css" rel="stylesheet"/>

    <script defer src="{% static 'index_app' %}/scripts/dependencies/flowbite.min.js"></script>
    <script defer src="{% static 'index_app' %}/scripts/dependencies/swiper.min.js"></script>

    <script defer src="{% static 'index_app' %}/scripts/app.js"></script>

    <script>
        // Set Theme from Localstorage at site load
        document.documentElement.classList.toggle(
            "dark",
            localStorage.getItem("theme") === "dark",
        );
    </script>
</head>

<body>
{% include 'includes/header.html' %}

<main class="flex-grow bg-gray-100 pb-14 pt-36 dark:bg-black xs:pt-36">
    <div class="container">
        <div class="grid grid-cols-12 gap-4">
            <!-- sidebar -->
            <div class="col-span-12 lg:col-span-3">
                <!-- Desktop sidebar -->

                {% include 'profile_includes/desktop_menu.html' %}
                {% include 'profile_includes/mobile_header_menu.html' %}
            </div>

            <!-- content -->
            <div class="col-span-12 lg:col-span-9">
                <div class="rounded-lg bg-white p-5 shadow-base dark:bg-zinc-900">
                    <!-- Title -->
                    <h1
                            class="relative mb-16 w-fit text-xl font-medium text-zinc-700 dark:text-white"
                    >
                        اطلاعات حساب کاربری شما
                        <span
                                class="absolute right-0 top-10 h-[3px] w-full rounded-full bg-emerald-500 dark:bg-emerald-400"
                        >
                  </span>
                    </h1>
                    <!-- Content -->
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="grid grid-cols-2 gap-4">
                            <div disabled="" class="mb-4 space-y-4">
                                <label disabled=""
                                       for=""
                                       class="relative block rounded-lg border border-gray-100 shadow-base dark:border-white/5"
                                >
                                    <input
                                            type="text"
                                            id="password"
                                            dir="auto"
                                            name="password"
                                            class="peer w-full rounded-lg border-none bg-transparent p-4 text-left text-zinc-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-white"
                                            placeholder="مثال"
                                    />
                                    <span disabled="disabled"
                                          class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white px-2 py-0.5 text-sm text-zinc-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-zinc-900 dark:text-zinc-300"
                                    >
                رمز عبور
              </span>
                                </label>
                                <p class="h-5 text-sm text-red-500 dark:text-red-400">
                                    رمز عبور باید حداقل دارای 8 کاراکتر باشد
                                </p>
                            </div>
                            <div disabled="" class="mb-4 space-y-4">
                                <label disabled=""
                                       for=""
                                       class="relative block rounded-lg border border-gray-100 shadow-base dark:border-white/5"
                                >
                                    <input
                                            type="text"
                                            id="confirm_password"
                                            dir="auto"
                                            name="confirm_password"
                                            class="peer w-full rounded-lg border-none bg-transparent p-4 text-left text-zinc-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-white"
                                            placeholder="مثال"
                                    />
                                    <span disabled="disabled"
                                          class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white px-2 py-0.5 text-sm text-zinc-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-zinc-900 dark:text-zinc-300"
                                    >
                تکرار رمز عبور
              </span>
                                </label>
                                <p class="h-5 text-sm text-red-500 dark:text-red-400">
                                </p>
                            </div>
                            <button style="height: 40px" class="btn-primary">ارسال</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% include 'profile_includes/mobile_menu.html' %}
<!-- Full name modal -->
</div>
{% include 'includes/messages.html' %}
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
</body>
</html>
