{% load static %}
<!-- Mobile menu -->
<div
        class="rounded-lg bg-white p-6 shadow-base dark:bg-zinc-900 lg:hidden"
>
    <div class="flex items-center justify-center">
        <div
                class="flex flex-col items-center justify-center gap-y-4"
        >
            <div class="relative">
                <img
                        src="{% static 'index_app' %}/images/user.png"
                        class="h-20 w-20 only:rounded-full"
                        alt=""
                />
                <a
                        href="{% url 'user_edit_profile' user.phone %}"
                        class="absolute -right-2 -top-2 rounded-full bg-emerald-500 p-2 text-sm text-white dark:bg-emerald-600"
                >
                    <svg class="h-5 w-5">
                        <use xlink:href="#edit"/>
                    </svg>
                </a>
            </div>
            <div>
                <p class="line-clamp-1 text-zinc-700 dark:text-white">
                    {{ user.fullname }}
                </p>
                <p class="text-zinc-500 dark:text-zinc-400">
                    {{ user.phone }}
                </p>
            </div>
            <div>
                <button
                        class="btn-primary px-4 py-2"
                        aria-controls="profile-menu-drawer-navigation"
                        data-drawer-show="profile-menu-drawer-navigation"
                        data-drawer-placement="bottom"
                        data-drawer-target="profile-menu-drawer-navigation"
                        type="button"
                >
                    <svg class="h-6 w-6 text-white">
                        <use xlink:href="#menu"/>
                    </svg>
                    منوی پنل کاربری
                </button>
            </div>
        </div>
    </div>
</div>
