{% load static %}
{% load ratings %}
{% load comment_tags %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog_app' %}/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="{% static 'blog_app/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog_app' %}/css/style.css">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <title>جزییات مقاله</title>
</head>
<body>

{% include 'blog_includes/nav.html' %}

<br><br>
<main><!-- start main -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12"><!-- start blog content -->
                <div class="blog-content">

                    <div class="blog-content-title">
                        <div class="d-flex align-items-center justify-content-between">
                            <h1>{{ article.title }}</h1>

                        </div>
                        <span class="content-writer">{{ article.categories.first.title }}</span>
                        <span class="d-inline-block font-13 text-muted"><i
                                class="far fa-clock"></i>{{ article.get_created_at }}</span>
                    </div>

                    <img src="{{ article.poster.url }}" class="blog-detail-pic">

                    {{ article.body|safe }}
                    {% ratings article %}
                    {% render_comments article request %}

                </div>

            </div><!-- end blog content -->

        </div>

        <div class="row mt-3"><!-- start title -->
            <div class="col-12 d-flex align-items-center">
                <h1 class="blog-title-text">مطالب پیشنهادی</h1>
                <div class="blog-title-line"></div>

            </div>
        </div><!-- end title -->

        <div class="row mt-3"><!-- start suggestion blog posts -->
            {% for article in same_article %}
                <div class="col-lg-3 col-sm-6 mb-3"><!-- start item -->
                    <div class="card border-0 custom-blog-card">
                        <div class="sub-layer">
                            <img src="{{ article.poster.url }}" class="img-fluid">
                            <div class="over-layer">
                                <a href="blog-category.html"
                                   class="image-badge">{{ article.categories.first.title }}</a>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            <p>
                                {{ article.short_description }}
                            </p>
                        </div>
                        <div class="card-footer bg-white border-top-0">
                            <span class="writer">{{ article.visit_count }}</span>
                            <div class="float-end mt-2">
                                <span class="time"><i class="fa fa-clock font-13 me-1"></i>{{ article.get_created_at }}</span>
                            </div>
                        </div>
                    </div>
                </div><!-- end item -->
            {% endfor %}

        </div><!-- end suggestion blog posts -->


    </div>
</main><!-- end main -->

{% include 'blog_includes/footer.html' %}

<script src="{% static 'blog_app' %}/js/jquery.min.js"></script>
<script src="{% static 'blog_app' %}/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'blog_app' %}/js/blog-js.js"></script>
</body>
</html>